@{
    var title = Model.Get<string>("Title", Model["tag-line"].ToString()) + " - " + Model["site-title"].ToString();    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--{{! Document Settings }}-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--{{! Page Meta }}-->
    <title>@Html.Raw(title)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- stylesheets -->
    <!--{{! Styles'n'Scripts }}-->
    <link href='//fonts.googleapis.com/css?family=Montserrat%7CInconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/hl-styles/monokai_sublime.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css">
    <!--{{! inserting theme config partial}}
    {{> config}}
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}-->
</head>
<body >
@Html.Partial("~/_layouts/_header.cshtml")
	
<!-- start main content area -->
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 content-wrap">
                <!-- start post -->
                <article class="post">
                    @if (!string.IsNullOrEmpty(Model.String("image")))
                    {
                        <div class="featured-media">
                            <img class="gray" src="@Model.String("image")" alt="@Model.String("title")">
                        </div>
                    }
                    <div class="post-inner-wrap">
                        <header class="post-header align-center">
                            <h2 class="post-title">@Html.Raw(Model.String("title"))</h2>
                        </header>
                        <div class="post-content">
                            @RenderBody()
                        </div>
                    </div>
                </article>
                <!-- end post -->
            </div>
        </div>
    </div>
</section>
<!-- end main content area -->

@Html.Partial("~/_layouts/_footer.cshtml")

<a href="#" id="back-to-top" class="align-center"><i class="fa fa-long-arrow-up"></i></a>
@* {{ghost_foot}} *@
<script type="text/javascript">
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.fitvids.js"></script>
<script src="/assets/js/highlight.pack.js"></script>
<script src="/assets/js/main.js"></script>
@* {{> analytics}} *@
</body>
</html>