@{
	var currentPage = Model.Get<int>("CurrentPage");
	var totalItems = Model.Get<int>("TotalItems");
    var pluralText = totalItems > 1 ? "Posts" : "Post"; 
    
	
    Func<IDocument, object> getTags = (doc) =>
    {
        if (!doc.ContainsKey("tags"))
            return null;
			
        var tags = doc.Get<string[]>("tags");
		var items = new List<string>();
		foreach (var tag in tags)
		{
			var cleanTag = SiteHelpers.CleanTag(tag);
			items.Add($"<a href=\"/tag/{cleanTag}/\" >{cleanTag}</a>");
		}

		return Html.Raw(string.Join(", ", items));
    };
}

<!-- start main content area -->
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="title">Tag: @Model.String("GroupKey")</h1>
                <div class="post-count">
                    <span>Total @totalItems @pluralText</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 content-wrap">
                @foreach (IDocument doc in Model.Get<IEnumerable<IDocument>>("PageDocuments"))
                {
                    <!-- start post -->
                    <article class="post">
                        <div class="post-inner-wrap">
                            <header class="post-header align-center">
                                <h2 class="post-title"><a href="@doc.Metadata.String("permalink")">@doc.Metadata.String("title")</a></h2>
                                <div class="post-meta">
                                    <span class="date">@doc.Metadata.DateTime("published").ToString("dd MMM, yyyy")</span> &#47;
                                    <span class="author">
                                        By @doc.Metadata.String("author")
                                    </span>
                                </div>
                                @if (@doc.Metadata.Bool("featured"))
                                {
                                    <div class="featured">
                                        Featured
                                    </div>
                                }
                            </header>
                            <div class="post-content">
                                @doc.Metadata.String("lead")
                            </div>
                            <div class="permalink align-center">
                                <a href="@doc.Metadata.String("permalink")" class="btn btn-default">Read More</a>
                            </div>
                            <footer class="post-footer clearfix">
                                <div class="pull-left tag-list">
                                    <i class="fa fa-folder-o"></i>
                                    @getTags(doc)
                                </div>
                                <div class="pull-right comment">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="@doc.Metadata.String("permalink")#disqus_thread">0 Comments</a>
                                </div>
                            </footer>
                        </div>
                    </article>
                }

                <!-- end post -->
                @Html.Partial("~/_layouts/_pagination.cshtml")
            </div>
        </div>
    </div>
</section>
<!-- end main content area -->